/* RESET STYLES */
.gcal h2{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

table{
  margin: .5em 0;
}

tr{
  background: none !important;
}

th, td{
  border: none;
}


/* CALENDAR STYLES */
.fc-content{
  font-family: arial, sans-serif;
}

.fc-content thead th{
  border: none;
}

.fc-content td:first-child{
  border-left: 1px solid #DDD;
}

.fc-event-container{
  font-size: 14px;
}

.gcal_toggles{
  text-align: right;
  margin-bottom: 2em;
  font-family: arial, sans-serif;
}

.gcal_event {
  color: white !important;
  border-radius:3px;
  padding: 2px 5px;
}

.gcal_toggle{
  border: none;
  outline: none;
  color: white;
  border-radius:3px;
  padding: 2px 5px;
  margin: 2px 0;
}

.gcal_event--academics, .gcal_toggle--academics{
  /*background-color: #737373;*/
  background-color: hsl(0, 0%, 60%);
}
.gcal_event--academics:hover, .gcal_toggle--academics:hover{
  /*background-color: #515151;*/
  background-color: hsl(0, 0%, 50%);
}

.gcal_event--campusrec, .gcal_toggle--campusrec{
  /*background-color: #227F63;*/
  background-color: hsl(100, 45%, 44%);
}
.gcal_event--campusrec:hover, .gcal_toggle--campusrec:hover{
  /*background-color: #005D41;*/
  background-color: hsl(100, 45%, 34%);
}

.gcal_event--entertainment, .gcal_toggle--entertainment{
  /*background-color: #871111;*/
  /*background-color: hsl(3, 45%, 44%);*/
  background-color: hsl(5, 49%, 45%);
}
.gcal_event--entertainment:hover, .gcal_toggle--entertainment:hover{
  /*background-color: #650000;*/
  background-color: hsl(5, 49%, 35%);
}

.gcal_event--residencelife, .gcal_toggle--residencelife{
  /*background-color: #3D8215;*/
  background-color: hsl(165, 45%, 44%);
}
.gcal_event--residencelife:hover, .gcal_toggle--residencelife:hover{
  background-color: hsl(165, 45%, 34%);
}

.gcal_event--studentactivities, .gcal_toggle--studentactivities{
  background-color: hsl(30, 95%, 42%);
}
.gcal_event--studentactivities:hover, .gcal_toggle--studentactivities:hover{
  background-color: hsl(30, 95%, 35%);
}

.gcal_event--athletics, .gcal_toggle--athletics{
  /*background-color: #182186;*/
  background-color: hsl(220, 45%, 44%);
}
.gcal_event--athletics:hover, .gcal_toggle--athletics:hover{
  /*background-color: #060064;*/
  background-color: hsl(220, 45%, 34%);;
}

.gcal_toggle--disabled, .gcal_toggle--disabled:hover {
  background-color: #cdcdcd;
}





@media only screen and (max-width: 480px){
  .fc-header td{
    display: block;
    width: 100%;
    text-align: center;
  }

  .fc-header .fc-button{
    margin: 0 !important;
  }

  .gcal h2{
    margin: .3em 0 !important;
  }
}